<%- include('comn/header') -%>


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 main-logo">
                <img src="/logo.png" alt="" style="text-align: center; width: 400px; height: 400px;">
            </div>
            <div class="col-md-9 text-content">
                <h3 style="font-size: 50px;">WELCOME TO <span style="font-size: 70px;">BEST</span> - Business,
                    Establish, Sell, Thrive! </h3>
                <p>An initiative to promote local! Are you looking to start your own business? Or want to meet
                    investors? Or
                    want to showcase your products? Or want to collaborate? OR WANT TO BUY? You’re at the right
                    place!
                    The
                    BEST place!</p>
            </div>
        </div>
    </div>


    <div class="cards" style="margin: auto;">

        <div class="card alt" style="width: 18%;">
            <img src="https://images.unsplash.com/photo-1575881875475-31023242e3f9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h4 style="text-align: center;">Grow With Us!</h4>
            </div>
        </div>
        <div class="card" style="width: 18%;">
            <img src="https://images.unsplash.com/photo-1575881875475-31023242e3f9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h4 style="text-align: center;">Promote Local Business</h4>
            </div>
        </div>
        <div class="card alt" style="width: 18%;">
            <img src="https://images.unsplash.com/photo-1575881875475-31023242e3f9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h4 style="text-align: center;">E-Store</h4>
            </div>
        </div>
        <div class="card" style="width: 18%;">
            <img src="https://images.unsplash.com/photo-1575881875475-31023242e3f9?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
                class="card-img-top" alt="...">
            <div class="card-body">
                <h4 style="text-align: center;">Progress 100%</h4>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="page-footer font-small" style="background-color: #b0b7b6;">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
            <a style="color: #000000; font-size: 16px;"> Made with <i style="color: red;" class="fas fa-heart"></i></a>
            <p>Diganta Kushal Surya</p>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
    </body>

    </html>


















    <!--

    <form class="" action="account/<%= accountid %>" method="post">

        <button type="submit" name="button" value="<%= accountid %>">CLICK</button>
    </form> -->
