<%- include('comn/header') -%>



<div class="container-fluid col-md-12">
        <div class="text-content">
            <h3>WELCOME TO BEST - Business, Establish, Sell, Thrive! </h3>
            <p>An initiative to promote local! Are you looking to start your own business? Or want to meet investors? Or want to showcase your products? Or want to collaborate? OR WANT TO BUY? You’re at the right place! The BEST place!</p>
        </div>
    </div>

    <div class="k">
        <div class="kush">
            Some Content Here
        </div>
    </div>

    <div class="cards">
        <div class="card container-fluid" style="width: 18%;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card alt" style="width: 18%;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card" style="width: 18%;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card alt" style="width: 18%;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
        <div class="card" style="width: 18%;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>

    <footer>

    </footer>
</body>
</html>


















<!-- 

    <form class="" action="account/<%= accountid %>" method="post">

        <button type="submit" name="button" value="<%= accountid %>">CLICK</button>
    </form> -->
