<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/signin.css">
    <title>Sign Up</title>
</head>

<body>
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card card-signin flex-row my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Login</h5>
                        <p style="color:red; text-align:center">
                            <%= msg %>
                        </p>
                        <!-- starting of form -->
                        <form class="form-signin" action="/login" method="POST">
                            <div class="form-group">
                                <input type="text" name="inputUserame" class="form-control" placeholder="Username"
                                    required>
                            </div>

                            <div class="form-group">
                                <input type="email" name="inputEmail" class="form-control" placeholder="Email address"
                                    required>
                            </div>

                            <div class="form-group">
                                <input type="password" name="inputPassword" class="form-control" placeholder="Password"
                                    required>
                            </div>

                            <div class="form-group">
                                <input type="password" name="inputConfirmPassword" class="form-control"
                                    placeholder="Confirm Password" required>
                            </div>

                            <button class="btn btn-lg btn-primary btn-block text-uppercase login-btn"
                                type="submit">Login</button>

                        </form>
                        <!-- ending of form -->
                        <form action="/signin" method="get" style="text-align:center; margin-top:5px;">
                            New User? <button class="btn btn-primary" type="submit" name="button">Sign Up</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
