<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/801df24b2e.js" crossorigin="anonymous"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- css adding -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <!-- navbar -->
    <div class="navbar"></div>

    <!-- main product items container -->
    <div class="s_container" style="margin: 0 20px;">
        <div class="row s_product_cont">
            <div class="col-md-4 s_product_img">
                <img src="https://images.unsplash.com/photo-1544621678-f17b5b909559?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEwfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"
                    alt="">

            </div>
            <div class="col-md-8 s_product_des">
                <h2>WOODEN BOWL</h2>
                <div class="s-subtitle">
                    <div class="s-rating">4<i class="fas fa-star"
                            style="font-size: 10px; text-align: center; padding: 2px;"></i>
                    </div>
                    <div class="s-text">Rating and reviews</div>
                </div>
                <div class="s-prise">
                    <h2><i class="fas fa-rupee-sign"></i>800</h2>
                </div>
                <dev class="s-description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur.
                    <form action="" id="1">
                        <button class="s-more" onclick="check()">open</button>
                    </form>
                    </p>
                </dev>
                <div class="s-buttons">
                    <button class="s-order">ORDER</button>
                    <button class="s-addtocart"><i class="fas fa-shopping-cart"></i> Add-to-cart</button>
                </div>
            </div>
        </div>

        <div class="row s_product_cont">
            <div class="col-md-4 s_product_img">
                <img src="https://images.unsplash.com/photo-1580151820161-f73b132afdff?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
                    alt="">
            </div>
            <div class="col-md-8 s_product_des">
                <h2>WOODEN BOWL</h2>
                <div class="s-subtitle">
                    <div class="s-rating">4<i class="fas fa-star"
                            style="font-size: 10px; text-align: center; padding: 2px;"></i>
                    </div>
                    <div class="s-text">Rating and reviews</div>
                </div>
                <div class="s-prise">
                    <h2><i class="fas fa-rupee-sign"></i>800</h2>
                </div>
                <dev class="s-description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur.
                        <button class="s-more">open</button>
                    </p>
                </dev>
                <div class="s-buttons">
                    <button class="s-order">ORDER</button>
                    <button class="s-addtocart"><i class="fas fa-shopping-cart"></i> Add-to-cart</button>
                </div>
            </div>
        </div>

        <div class="row s_product_cont">
            <div class="col-md-4 s_product_img">
                <img src="https://images.unsplash.com/photo-1520408222757-6f9f95d87d5d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=586&q=80"
                    alt="">
            </div>
            <div class="col-md-8 s_product_des">
                <h2>WOODEN BOWL</h2>
                <div class="s-subtitle">
                    <div class="s-rating">4<i class="fas fa-star"
                            style="font-size: 10px; text-align: center; padding: 2px;"></i>
                    </div>
                    <div class="s-text">Rating and reviews</div>
                </div>
                <div class="s-prise">
                    <h2><i class="fas fa-rupee-sign"></i>800</h2>
                </div>
                <dev class="s-description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur.
                        <button class="s-more">open</button>
                    </p>
                </dev>
                <div class="s-buttons">
                    <button class="s-order">ORDER</button>
                    <button class="s-addtocart"><i class="fas fa-shopping-cart"></i> Add-to-cart</button>
                </div>
            </div>
        </div>

    </div>
</body>

</html>