.s_product_cont{
    margin: 20px 0;
    padding-bottom: 10px;
    border-bottom: 0.2px solid #dbdbdb;
}

.s_product_img{
    margin: auto;
}

.s_product_img img{
    width: 280px;
    height: 200px;
    margin-left: 20px;
    opacity: 0.6;
    transition: 0.6s all ease;
}

.s_product_img img:hover{
    opacity: 1;
}

.s_product_des{
    color: #000000;
    /* border: 1px solid green; */

}

.s-subtitle{
    display: inline-block;
    width: 100%;
}

.s-rating{
    width: 8%;
    height: 3%;
    display: inline-block;
    background-color: #FC7E08;
    color: #FFF;
    padding: 2px 10px;
    text-align: center;
    border-radius: 6px;
    font-weight: 700;
}

.s-text{
    width: 78%;
    display: inline-block;
    color: rgb(194, 193, 193);
    font-weight: 500;
}

.s-more{
    background-color: #8EED4C;
    outline: none;
    border: none;
    color: #FFF;
    padding: 3px 8px;
    border-radius: 28px;
}

.s-prise h2{
    font-size: 26px;
    padding: 10px 8px 8px 8px;
}

.s-order{
    background-color: #18CC7A;
    outline: none;
    border: none;
    color: #FFF;
    padding: 2px 8px;
    font-size: 18px;
}

.s-addtocart{
    background-color: #8EED4C;
    outline: none;
    border: none;
    color: #FFF;
    padding: 3px 8px;
}

.chat{
    background-color: hsl(69, 82%, 61%);
    outline: none;
    border: none;
    color: #FFF;
    padding: 1px 4px;
    text-align: center;
}

.navbar-brand img{
    width: 40px;
    height: 40px;
}

































body{
    padding: 0;
    margin: 0;
}

.container-fluid.col-md-12{
    background: rgba(7, 229, 202, 0.53);
    height: 100vh;
}

.text-content{
    padding: 200px;
}

.cards{
    padding: 20px;
    display: flex;
}

.card{
    margin: 30px;
    height: 270px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-sizing: border-box;
    border-radius: 10px;
}

.alt{
    margin-top: 80px;
}

.k{
    padding: 30px;
}

.kush{
    background: #FFA500;
    height: 300px;
}
